.header {
    position: relative;
	font-family: var(--font-secondary-family);
    font-weight: bold;
}

.header__logo {
    font-size: 1.3vw;
    font-family: "Orbitron", sans-serif;
    margin-top: 20px;
}

.logo-highlight {
    color: var(--color-highlight); 
}

.header__nav {
    font-size: 0.8em;
    margin-top: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__link {
    color: black;
    padding: 8px;
    display: inline-block;
}

.nav__link:hover {
    color: #fff;
    background-color: var(--color-highlight);
    border-radius: 5px;
}

.nav__link:hover .blog-highlight {
    color: #fff;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #fff;
    color: #000;
    padding: 8px;
    z-index: 100; /* Ensures it's above other content */
}

.skip-link:focus {  
    top: 0;
}

.blog-highlight {
    color: var(--color-highlight);
}

.header__menu-button {
    display: none;  /* The hamburger menu is hidden by default in larger screens */
}

.nav__close-button {
    display: none;
}

@media (max-width: 1024px) {
    .header__logo {
        font-size: 14px;
    }

    .nav__link {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .header__nav {
        position: fixed;
        display: none; /* The nav is hidden by default in smaller screens */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 15;
    }

    .header__logo {
        font-size: 12px;
    }
    
    .header__menu-button {
        display: block; /* The hamburger menu is visible by default in larger screens */
        font-size: 12px;
    }

    .nav__close-button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: white; /* Or any other color that matches your design */
        font-size: 3em;
    }
    
    .header__nav--active, .nav__list { 
        display: flex; /* Styles for mobile navigation is activated via JS on screens 768px or smaller. */
        flex-direction: column;
        align-items: center;
        margin-top: 0;
       
    }

    .header__nav--active, .nav__item {
        padding: 20px;
    }
    
    .nav__link {
        color: #fff;
    }
}

