.header {
	font-family: var(--font-secondary-family);
    font-weight: bold;
}

.header__nav .nav__list {
    display: flex; /* Displays the nav by default */
    justify-content: space-between;
    padding: 10px;
    font-size: 0.8em;
    list-style: none;
}

.header__logo {
    font-size: 1.3vw;
    font-family: "Orbitron", sans-serif;
}

.nav__link {
    color: black;
}

.logo-highlight {
    color: var(--color-highlight); 
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #fff;
    color: #000;
    padding: 8px;
    z-index: 100; /* Ensures it's above other content */
}

.skip-link:focus {  
    top: 0;
}

.blog-highlight {
    color: var(--color-highlight);
}

.header__menu-button {
    display: none;  /* The hamburger menu is hidden by default in larger screens */
}

@media (max-width: 1024px) {
    .header__logo {
        font-size: 14px;
    }

    .nav__link {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .header__nav {
        display: none; /* The nav is hidden by default in smaller screens */
    }

    .header__menu-button {
        display: block; /* The hamburger menu is visible by default in larger screens */
    }

    .header__nav--active { 
        display: flex; /* Styles for mobile navigation is activated via JS on screens 768px or smaller. */
        flex-direction: column;
    }
}

