#main-content {
    min-height: 200vh;
}

.main-title {

    display: block;
    text-align: center;
    font-family: var(--font-secondary-family);
    font-size: 3em;
    margin-top: 15%;
    transition: transform 0.4s ease-out;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.today-text {
    display: block;
    text-align: center;
}

.title-highlight {
    color: var(--color-highlight);
}

#main-content img {
    position: absolute;
    max-width: 50%;
    height: auto;
    left: 50%;
    top: 60%;
    transition: transform 0.3s ease-out; 
}

.banner-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    font-family: var(--font-secondary-family);
    font-size: 16px;
    background-color: var(--color-highlight);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    outline: none;
}

.banner-button:hover {
    background-color: #A3C1AD;
    transform: translate(-50%, -2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }

  .banner-button:active {
    background-color: #798b7f;
    transform: translate(-50%, -1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
